<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="bdcrmEntities" connectionString="metadata=res://*/bdcrm.csdl|res://*/bdcrm.ssdl|res://*/bdcrm.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.0.0.59;User Id=root;Persist Security Info=True;database=bdcrm&quot;"
      providerName="System.Data.EntityClient" />
    <add name="bdcrmConnectionString" connectionString="metadata=res://*/bdcrm.csdl|res://*/bdcrm.ssdl|res://*/bdcrm.msl;provider=;provider connection string=&quot;&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataContext1ConnectionString" connectionString="User Id=root;Password=root;Host=10.0.0.59;Database=bdcrm;Persist Security Info=True" />
    <add name="dcbdcrmConnectionString" connectionString="User Id=root;Password=root;Host=10.0.0.59;Database=bdcrm;Persist Security Info=True" />
    <add name="bddc.BEC.My.MySettings.bdcrmConnectionString" connectionString="server=10.0.0.59;User Id=root;password=root;Persist Security Info=True;database=bdcrm"
      providerName="MySql.Data.MySqlClient" />-->

    <add name="bdcrmEntities" connectionString="metadata=res://*/bdcrm.csdl|res://*/bdcrm.ssdl|res://*/bdcrm.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.0.0.59;User Id=localuser;Persist Security Info=True;database=bdcrm&quot;"
      providerName="System.Data.EntityClient" />
    <add name="bdcrmConnectionString" connectionString="metadata=res://*/bdcrm.csdl|res://*/bdcrm.ssdl|res://*/bdcrm.msl;provider=;provider connection string=&quot;&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataContext1ConnectionString" connectionString="User Id=FpcUser;Password=passfpc;server=localhost;Database=bdcrm;Persist Security Info=True" />
    <add name="dcbdcrmConnectionString" connectionString="User Id=FpcUser;Password=passfpc;server=localhost;Database=bdcrm;Persist Security Info=True" />
    <add name="bddc.BEC.My.MySettings.bdcrmConnectionString" connectionString="server=localhost;User Id=FpcUser;password=passfpc;Persist Security Info=True;database=bdcrm"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>